language: node_js
node_js:
  - "0.10"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sudo sed 's/localhost.localdomain localhost/localhost localhost.localdomain/' /etc/hosts > /etc/hosts
before_script:
  - npm install -g bower
  - bower install
after_script:
  - npm run coveralls
