
.canvas {
	display: block;
	margin: 0 auto;
}

.graph .axis path {
	fill: none;
}

.graph .y.axis path {
	stroke: none;
}

.graph .x.axis path {
	stroke: #aaa;
	stroke-width: 1;
}

.graph .axis line {
	stroke: #aaa;
	stroke-width: 1;
}

.graph .background {
	fill: none;
	stroke: none;
}

.graph .line {
	fill: none;
	/*stroke: #474747;*/
	stroke-width: 2;
	stroke-opacity: 90%;
}

.graph .hidden {
	opacity: 0;
}

.annotation .marker {
	opacity: 0.2;
	fill: #ff0000;
	stroke: none;
}

.annotation .vline {
	stroke: #000;
	stroke-opacity: 0.2;
	/*display: none;*/
}

.meta .title {
	display: block;
	/*font-size: 2em;*/
	line-height: 2em;
	padding: 0 10px;
	/*background-color: #474747;*/
	/*color: #ffffff;*/
	font-size: 1.5em;
	color: #474747;
}
